<% posts.each(function (post) { %>
  <li><a href="/#/posts/<%= post.get("id") %>"><%=  post.escape("title") %></a>
    <button data-id="<%= post.escape("id") %>"
            class="delete-post">
      Delete
    </button>
  </li>
<% }); %>

<a href="/#/posts/new">New Post</a>
