<h1>Journal App</h1>

<script>
$(function () {
  Journal.Collections.posts.fetch({
    success: function () {
      var PIV = new Journal.Views.PostsIndex ({ collection: Journal.Collections.posts });

      $('body').append(PIV.render().$el);
    }
  });


})
</script>

<div class="posts"></div>